<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>Google SignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.669166442274-ibfl9267gso6b7jlqflgk8nuitv84i14</string>
			</array>
		</dict>
	</array>
	<key>NSC</key>
	<string></string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchscreenAlpha</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
